.wrapper {
  display: flex;
  min-width: 665px;
  min-height: 100vh;

  &--catalogue {
    min-width: 420px;
    margin: 19px auto 0 31px;
  }

  &--profile {
    min-width: 438px;
    margin: 19px auto 0 36px;
  }
}
