// Font family & style
$main-font: "Roboto", "Arial", sans-serif;
$font-style-normal: normal;

// Font weight
$font-weight-base: 400;
$font-weight-bold: 700;

// Font size
$font-size-base: 12px;
$font-size-title: 14px;
$font-size-content: 11px;
$font-size-form-input: 10px;
$font-size-form-label: 8px;

// Line height
$line-height-base: 14px;
$line-height-title: 16px;
$line-height-content: 13px;
$line-height-form-input: 12px;
$line-height-form-label: 9px;
