// General
$border-radius-small: 5px;
$border-radius-large: 8px;

// COMPONENTS
// User-list-item
$user-list-item-border-radius: $border-radius-large;

// Form
$form-border-radius: $border-radius-large;
$form-input-border-radius: $border-radius-small;

// Buttons
$btn-default-border-radius: $border-radius-small;

// Titles
$user-list-title-margin-bottom: 15px;
