@import "../../styles//mixins/index.scss";

.form-field {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 20px auto 10px 12px;
  padding: 0;

  &:last-child {
    margin-right: 6px;
    margin-bottom: 19px;
  }
}

.label {
  margin-bottom: 3px;
  @include form-label;
}

.comment-area {
  min-width: 420px;
  min-height: 55px;
  resize: none;

  @include form-input;
}

.error-message {
  display: block;
  margin-top: 10px;
}
